@use '../custom' as *;
@use '../components/mixins' as *;

.menu {
    @include gradient;
    
    .logo {
        
        img{
            width: 8rem;
        }
    }

    li {
        padding: 0 0.7 rem;
    }
    a {
        color: $white !important;
        text-transform: capitalize;
        font-weight: 600;
    }
}

